.article-snippet {
  display: grid;
  margin: 30px;
  border: none;
  grid-template-columns: 1fr 10fr;
}
.article-snippet h3 {
  font-size: 100.1%;
}
.article-options {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 20px;
}
.article-options p {
  display: inline;
  padding-right: 20px;
}
.hide:hover {
  cursor: pointer;
  transition: font-size 0.1s;
  font-size: 101%;
  text-decoration: underline;
}
