.home-body {
  background-color: rgb(241, 239, 239);
  margin-top: -13px;
}
.home-body button {
  position: relative;
  left: 80%;
}
.home-body .header {
  margin-left: 2vw;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 1.5em;
}
.home-body .sub-header {
  margin-left: 4vw;
  font-size: 1.2em;
}
