.search-area {
  width: 320px;
  float: right;
}
.search-area textarea {
  width: 250px;
  margin-left: 5%;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  height: 25px;
  padding-top: 6px;
  padding-bottom: 8px;
}
.search-area .article-snippet {
  width: 300px;
  margin: auto;
}
.search-area .voter {
  margin-right: 30px;
}
