.search-area {
  min-height: 500px;
  width: 250px;
  position: absolute;
  left: 75vw;
  top: 33%;
}
.search-area textarea {
  width: 250px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  height: 25px;
  padding-top: 2px;
  padding-bottom: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.search-area .article-snippet {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  background-color: white;
  width: 250px;
  margin: 0;
  padding-top: 5px;
  text-align: center;

  z-index: 1;
}
.search-area .voter {
  display: none;
  z-index: 0;
}
.search-params {
  text-align: center;
}
