.article-snippet {
  display: grid;
  border-top: 1px grey solid;
  grid-template-columns: 1fr 10fr;
}
.article-options {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 20px;
}
.article-options p {
  display: inline;
  padding-right: 20px;
}
.hide:hover {
  cursor: pointer;
  text-decoration: underline;
}
